:root{
    --blue: rgb(49, 49, 122);
    --blue2: rgb(12, 63, 114);
    --blue3: rgb(11, 34, 45);
}
html {
    background-color: var(--blue3);
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
}
body > * {
    /* set attributes of child elements */
    margin: 10px 0 10px 0;
    padding: 10px;
    background-color: white;
}

#header {
    margin-top: 0;
    background-color: var(--blue2);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header a {
    color: black;
}

#title-container {
    height: 70px;

    display: grid;

    grid-template-areas:
        "image title"
        "image text"
    ;

    column-gap: 1rem;
    align-items: center;
}
#title-container > * {
    margin: 0;
}
#header-img {
    height: 70px;
    grid-area: image;
}
#header-title {
    grid-area: title;
}
#header-text {
    grid-area: text;
}
#nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#nav-bar p {
    padding: 10px;
}

#banner {
    text-align: center;
}

#features {   display: grid;
    grid-template-columns: min-content auto;
    column-gap: 5em;


    justify-content: center;
}
#features .container {
 
}

#price {
    padding-top: 0;
}
#price-header {
    text-align: center;
}
#price-flex {
    height: 350px;

    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
#price-flex > * {
    height: 100%;
    width: 15%;
    /* background-color: var(--blue); */
    text-align: center;
    border: 1px solid black;
}


footer {
    margin-bottom: 0;
    height: 100px;
    background-color: white;
}

